src/main/resources/logicapp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Base64Decoder": {
        "inputs": {
          "body": "@body('Parsing_Azure_Bus_Message')?['ContentData']",
          "function": {
            "connectionName": "azureFunctionOperation"
          },
          "method": "POST"
        },
        "runAfter": {
          "Parsing_Azure_Bus_Message": [
            "SUCCEEDED"
          ]
        },
        "type": "Function"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "mapper_output_json",
              "type": "object"
            }
          ]
        },
        "runAfter": {
          "Parsing_Decoded_Body": [
            "SUCCEEDED"
          ]
        },
        "type": "InitializeVariable"
      },
      "Parsing_Azure_Bus_Message": {
        "inputs": {
          "content": "@triggerBody()",
          "schema": {
            "properties": {
              "ContentData": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {},
        "type": "ParseJson"
      },
      "Parsing_Decoded_Body": {
        "inputs": {
          "content": "@body('Base64Decoder')",
          "schema": {
            "properties": {
              "Entity": {
                "type": "string"
              },
              "MessageType": {
                "type": "string"
              },
              "Request": {
                "properties": {
                  "Id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "Base64Decoder": [
            "SUCCEEDED"
          ]
        },
        "type": "ParseJson"
      },
      "Switch": {
        "cases": {
          "Case-_Service-to-V1": {
            "actions": {
              "Entity": {
                "cases": {
                  "Case_Consolidation": {
                    "actions": {
                      "ConsolDataSync_API": {
                        "inputs": {
                          "body": "@variables('mapper_output_json')",
                          "headers": {
                            "Authorization": "Bearer @{body('Parsing_Token')?['token']}",
                            "Content-Type": "application/json"
                          },
                          "method": "POST",
                          "retryPolicy": {
                            "type": "none"
                          },
                          "uri": "https://dev-runner.cargoes.com/Api/Default/Consolidation/ConsolidationDataSync"
                        },
                        "runAfter": {
                          "set_consol-json": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "trackedProperties": {},
                        "type": "Http"
                      },
                      "Parse_Consolidation_Json": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "schema": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "type": "ParseJson"
                      },
                      "Transform_V1_request": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "map": {
                            "name": "ConsolidationMapper_new.liquid",
                            "source": "LogicApp"
                          }
                        },
                        "kind": "JsonToJson",
                        "runAfter": {
                          "Parse_Consolidation_Json": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "Liquid"
                      },
                      "set_consol-json": {
                        "inputs": {
                          "name": "mapper_output_json",
                          "value": "@body('Transform_V1_request')"
                        },
                        "runAfter": {
                          "Transform_V1_request": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "SetVariable"
                      }
                    },
                    "case": "CONSOLIDATION"
                  },
                  "Case_Shipment": {
                    "actions": {
                      "Parsing_Shipment_Json": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "schema": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "type": "ParseJson"
                      },
                      "Transforming_V1_request": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "map": {
                            "name": "ShipmentMapper_v2_to_v1_v2.liquid",
                            "source": "LogicApp"
                          }
                        },
                        "kind": "JsonToJson",
                        "runAfter": {
                          "Parsing_Shipment_Json": [
                            "SUCCEEDED"
                          ]
                        },
                        "trackedProperties": {},
                        "type": "Liquid"
                      },
                      "V1_Shipments_API": {
                        "inputs": {
                          "body": "@variables('mapper_output_json')",
                          "headers": {
                            "Authorization": "Bearer @{body('Parsing_Token')?['token']}",
                            "Content-Type": "application/json"
                          },
                          "method": "POST",
                          "uri": "https://dev-runner.cargoes.com/Api/Default/Shipments/ShipmentDataSync"
                        },
                        "runAfter": {
                          "set_shipment-json": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "set_shipment-json": {
                        "inputs": {
                          "name": "mapper_output_json",
                          "value": "@body('Transforming_V1_request')"
                        },
                        "runAfter": {
                          "Transforming_V1_request": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "SetVariable"
                      }
                    },
                    "case": "SHIPMENT"
                  },
                  "Case_Tenant": {
                    "actions": {
                      "Parse_Tenant_Json": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "schema": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "type": "ParseJson"
                      },
                      "TenantSettings_sync_API": {
                        "inputs": {
                          "body": "@variables('mapper_output_json')",
                          "headers": {
                            "Authorization": "Bearer @{body('Parsing_Token')?['token']}",
                            "Content-Type": "application/json"
                          },
                          "method": "POST",
                          "uri": "https://dev-runner.cargoes.com/Api/Services/Default/TenantSettings/updateTenantSettingsV2sync"
                        },
                        "runAfter": {
                          "set_tenant_json": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Transform_tenant_json": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "map": {
                            "name": "V2-V1 Tenant Settings.liquid",
                            "source": "LogicApp"
                          }
                        },
                        "kind": "JsonToJson",
                        "runAfter": {
                          "Parse_Tenant_Json": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "Liquid"
                      },
                      "set_tenant_json": {
                        "inputs": {
                          "name": "mapper_output_json",
                          "value": "@body('Transform_tenant_json')"
                        },
                        "runAfter": {
                          "Transform_tenant_json": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "SetVariable"
                      }
                    },
                    "case": "TENANT_SETTINGS"
                  }
                },
                "default": {
                  "actions": {}
                },
                "expression": "@body('Parsing_Decoded_Body')?['Entity']",
                "runAfter": {
                  "Parsing_Token": [
                    "SUCCEEDED"
                  ]
                },
                "type": "Switch"
              },
              "Generate_Token": {
                "inputs": {
                  "body": {
                    "Password": "Dpworld@5555",
                    "Username": "v2_test_mayank@email.com"
                  },
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "method": "POST",
                  "uri": "https://dev-runner.cargoes.com/Api/Account/GenerateToken"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              },
              "Parsing_Token": {
                "inputs": {
                  "content": "@body('Generate_Token')",
                  "schema": {
                    "properties": {
                      "token": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "runAfter": {
                  "Generate_Token": [
                    "SUCCEEDED"
                  ]
                },
                "type": "ParseJson"
              }
            },
            "case": "Service"
          },
          "Case_-_V1-to-Service": {
            "actions": {
              "Generate_Token_": {
                "inputs": {
                  "body": {
                    "Password": "Test@123",
                    "Username": "dpwcanuser"
                  },
                  "method": "POST",
                  "uri": "https://dev-runner.cargoes.com/Api/Account/GenerateToken"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                },
                "type": "Http"
              },
              "Parse_JSON_1": {
                "inputs": {
                  "content": "@body('Generate_Token_')",
                  "schema": {
                    "properties": {
                      "token": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "runAfter": {
                  "Generate_Token_": [
                    "SUCCEEDED"
                  ]
                },
                "type": "ParseJson"
              },
              "Service_Entity": {
                "cases": {
                  "Service_consol_sync": {
                    "actions": {
                      "HTTP": {
                        "inputs": {
                          "headers": {
                            "Authorization": "Bearer @{body('Parse_JSON_1')?['token']}"
                          },
                          "method": "GET",
                          "uri": "https://dev-runner.cargoes.com/shipment-service/health"
                        },
                        "runAfter": {
                          "Set_variable": [
                            "SUCCEEDED"
                          ]
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        },
                        "type": "Http"
                      },
                      "Parse_JSON": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "schema": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "type": "ParseJson"
                      },
                      "Set_variable": {
                        "inputs": {
                          "name": "mapper_output_json",
                          "value": "@body('Transform_JSON_To_JSON')"
                        },
                        "runAfter": {
                          "Transform_JSON_To_JSON": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "SetVariable"
                      },
                      "Transform_JSON_To_JSON": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "map": {
                            "name": "ConsolidationMapper_v1_to_v2.liquid",
                            "source": "LogicApp"
                          }
                        },
                        "kind": "JsonToJson",
                        "runAfter": {
                          "Parse_JSON": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "Liquid"
                      }
                    },
                    "case": "CONSOLIDATION"
                  },
                  "Service_tenant_sync": {
                    "actions": {
                      "Parse_tenant_json_": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "schema": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "type": "ParseJson"
                      },
                      "transform_v1_tenant_json": {
                        "inputs": {
                          "content": "@body('Parsing_Decoded_Body')?['Request']",
                          "map": {
                            "name": "V1-V2 Service Tenant Settings.liquid",
                            "source": "LogicApp"
                          }
                        },
                        "kind": "JsonToJson",
                        "runAfter": {
                          "Parse_tenant_json_": [
                            "SUCCEEDED"
                          ]
                        },
                        "type": "Liquid"
                      }
                    },
                    "case": "TENANT_SETTINGS"
                  }
                },
                "default": {
                  "actions": {}
                },
                "expression": "@body('Parsing_Decoded_Body')?['Entity']",
                "runAfter": {
                  "Parse_JSON_1": [
                    "SUCCEEDED"
                  ]
                },
                "type": "Switch"
              }
            },
            "case": "V1"
          }
        },
        "default": {
          "actions": {}
        },
        "expression": "@body('Parsing_Decoded_Body')?['MessageType']",
        "runAfter": {
          "Initialize_variable": [
            "SUCCEEDED"
          ]
        },
        "type": "Switch"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "servicebus"
            }
          },
          "method": "get",
          "path": "/@{encodeURIComponent(encodeURIComponent('shipment-service-dev'))}/subscriptions/@{encodeURIComponent('logic-app-subs')}/messages/head",
          "queries": {
            "subscriptionType": "Main"
          }
        },
        "recurrence": {
          "frequency": "Second",
          "interval": 30
        },
        "type": "ApiConnection"
      }
    }
  },
  "kind": "Stateful"
}